@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pacaembu";
  src: local("Pacaembu"), url("../fonts/PacaembuVar-latin.woff2") format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("../fonts/MulishVar-latin.woff2") format("truetype");
}
